html {
  font-family: 'Quicksand', sans-serif;
}
body {
  background-color: rgba(22, 22, 22, 0.5)
}
.top-bar {
    width: auto;
    height: 100%;
    background-color: rgba(243, 184, 118, 0.5);
    display: flex; justify-content: space-between;
}
#lam-logo {
    height: 100px;
    width: auto;
    padding-left: 10%;
}
#titel {
    color: white;
    font-size: 75px;
    padding-left: 0%;
    margin: 0 auto;
    font-family: 'Quicksand', sans-serif;
}
#container0 {
  display: flex;
  width: 20%;
  float: left;
  height: 690px;
  border-left: 3px solid black;
  border-right: 3px solid black;

}
#background {
  background-image: url("background.png");
  repeat: no-repeat;
  max-height: 63.8%;
  max-width: 53.3%;
  height: 690px;
  width: 1024px;
  margin-left: auto;
  margin-right: auto;
}
#container1 {
    display: flex;
    width: 20%;
    float: right;
    height: 690px;
    border-left: 3px solid black;
    border-right: 3px solid black;
}
#bottom {
  padding: 3px;
  text-align: left;
  float: left;
  width: 30%;
  height: 550px;
}
#vrWindow {
  float: right;
  width: 60%;
  height: 550px;
}
a-scene {
  float: right;
  width: 60%;
  height: 60%;
}
#onder {
  width: 10%;
  height: 10%
  display: flex;
}
#onder:hover {
  background-color: black;
  color: white;
}
#txt {
  padding: 15px;
}
